# Libraries

In [ ]:
import os
import time
import copy
import pickle
import random
import operator
import numpy as np
import pandas as pd
import seaborn as sns
from time import sleep
from numpy import array
import tensorflow as tf
from collections import deque
from collections import Counter
from google.colab import output
import matplotlib.pyplot as plt
from sklearn.utils import shuffle
from sklearn.datasets import load_iris
from IPython.display import clear_output
from imblearn.over_sampling import SMOTE
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import MinMaxScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split

In [ ]:
dataset_path = '/content/drive/MyDrive/Colab/Decision Tree/Datasets/Datasets/'

# Summery of Preprocessing


> Import Dataset

> Check if any column has 'only 1 unique' value, remove that column

> Check if any column has 'non-integer' values, convert it to Categorical (integer) values

> Check if any column has 'NaN' value, remove entire row

> Split the Dataset into Train, Validation and Test

> Make sure all the partion have similar ration of 'Label/Target' data

> Perform MinMaxScaler() to scale the data from 0 to 1

> Use 'fit_transform()' to training data while scalling

> Use 'transform()' to validation and Testing data while scalling

# Dataste Path

# Cancer Dataset

In [ ]:
raw_df = pd.read_csv(dataset_path + 'brest_cancer_data.csv')
raw_df

,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,symmetry_mean,...,radius_worst,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst
0,1,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,0.2419,...,25.380,17.33,184.60,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890
1,1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,0.1812,...,24.990,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902
2,1,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,0.2069,...,23.570,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758
3,1,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,0.2597,...,14.910,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300
4,1,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,0.1809,...,22.540,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,1,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,0.1726,...,25.450,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115
565,1,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,0.1752,...,23.690,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637
566,1,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,0.1590,...,18.980,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820
567,1,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,0.2397,...,25.740,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400
568,0,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,0.1587,...,9.456,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039

In [ ]:
raw_df = raw_df.dropna()
raw_df.info()

columns = raw_df.columns.tolist()
count = raw_df[columns].nunique()
print('\n\nNumber of Unique values for Each Columns :')
count

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 31 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   diagnosis                569 non-null    int64
 1   radius_mean              569 non-null    float64
 2   texture_mean             569 non-null    float64
 3   perimeter_mean           569 non-null    float64
 4   area_mean                569 non-null    float64
 5   smoothness_mean          569 non-null    float64
 6   compactness_mean         569 non-null    float64
 7   concavity_mean           569 non-null    float64
 8   concave points_mean      569 non-null    float64
 9   symmetry_mean            569 non-null    float64
 10  fractal_dimension_mean   569 non-null    float64
 11  radius_se                569 non-null    float64
 12  texture_se               569 non-null    float64
 13  perimeter_se             569 non-null    float64
 14  area_se                  569 non-null    float64
 15  smoothness_se            569 non-null    float64
 16  compactness_se           569 non-null    float64
 17  concavity_se             569 non-null    float64
 18  concave points_se        569 non-null    float64
 19  symmetry_se              569 non-null    float64
 20  fractal_dimension_se     569 non-null    float64
 21  radius_worst             569 non-null    float64
 22  texture_worst            569 non-null    float64
 23  perimeter_worst          569 non-null    float64
 24  area_worst               569 non-null    float64
 25  smoothness_worst         569 non-null    float64
 26  compactness_worst        569 non-null    float64
 27  concavity_worst          569 non-null    float64
 28  concave points_worst     569 non-null    float64
 29  symmetry_worst           569 non-null    float64
 30  fractal_dimension_worst  569 non-null    float64
dtypes: float64(30), int64(1)
memory usage: 137.9 KB


Number of Unique values for Each Columns :

diagnosis                    2
radius_mean                456
texture_mean               479
perimeter_mean             522
area_mean                  539
smoothness_mean            474
compactness_mean           537
concavity_mean             537
concave points_mean        542
symmetry_mean              432
fractal_dimension_mean     499
radius_se                  540
texture_se                 519
perimeter_se               533
area_se                    528
smoothness_se              547
compactness_se             541
concavity_se               533
concave points_se          507
symmetry_se                498
fractal_dimension_se       545
radius_worst               457
texture_worst              511
perimeter_worst            514
area_worst                 544
smoothness_worst           411
compactness_worst          529
concavity_worst            539
concave points_worst       492
symmetry_worst             500
fractal_dimension_worst    535
dtype: int64

In [ ]:
header = columns
label_names = 'diagnosis'
X = raw_df.drop(label_names, axis=1)
X.info()
Y = raw_df[label_names]
Y

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 30 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   radius_mean              569 non-null    float64
 1   texture_mean             569 non-null    float64
 2   perimeter_mean           569 non-null    float64
 3   area_mean                569 non-null    float64
 4   smoothness_mean          569 non-null    float64
 5   compactness_mean         569 non-null    float64
 6   concavity_mean           569 non-null    float64
 7   concave points_mean      569 non-null    float64
 8   symmetry_mean            569 non-null    float64
 9   fractal_dimension_mean   569 non-null    float64
 10  radius_se                569 non-null    float64
 11  texture_se               569 non-null    float64
 12  perimeter_se             569 non-null    float64
 13  area_se                  569 non-null    float64
 14  smoothness_se            569 non-null    float64
 15  compactness_se           569 non-null    float64
 16  concavity_se             569 non-null    float64
 17  concave points_se        569 non-null    float64
 18  symmetry_se              569 non-null    float64
 19  fractal_dimension_se     569 non-null    float64
 20  radius_worst             569 non-null    float64
 21  texture_worst            569 non-null    float64
 22  perimeter_worst          569 non-null    float64
 23  area_worst               569 non-null    float64
 24  smoothness_worst         569 non-null    float64
 25  compactness_worst        569 non-null    float64
 26  concavity_worst          569 non-null    float64
 27  concave points_worst     569 non-null    float64
 28  symmetry_worst           569 non-null    float64
 29  fractal_dimension_worst  569 non-null    float64
dtypes: float64(30)
memory usage: 133.5 KB

0      1
1      1
2      1
3      1
4      1
      ..
564    1
565    1
566    1
567    1
568    0
Name: diagnosis, Length: 569, dtype: int64

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.1, random_state=42, stratify=Y)
X_train, X_validation, Y_train, Y_validation = train_test_split(X_train, Y_train, test_size=0.2, random_state=42, stratify=Y_train)

# Balancing Training Data
oversample = SMOTE()
X_train, Y_train = oversample.fit_resample(X_train, Y_train)

print('Train: \n', Counter(Y_train))
print('Validation: \n', Counter(Y_validation))
print('Test: \n', Counter(Y_test))

scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train)
X_validation = scaler.transform (X_validation)
X_test = scaler.transform (X_test)

print('\n')
print('Train: ', X_train.shape)
print('Validation: ', X_validation.shape)
print('Test: ', X_test.shape)

X_train = list(X_train)
X_validation = list(X_validation)
X_test = list(X_test)

Y_train = list(Y_train)
Y_validation = list(Y_validation)
Y_test = list(Y_test)

columns.remove(label_names)
columns.append(label_names)
print('\n\n All the Columns : ', columns)

Train:
 Counter({0: 256, 1: 256})
Validation:
 Counter({0: 65, 1: 38})
Test:
 Counter({0: 36, 1: 21})


Train:  (512, 30)
Validation:  (103, 30)
Test:  (57, 30)


 All the Columns :  ['radius_mean', 'texture_mean', 'perimeter_mean', 'area_mean', 'smoothness_mean', 'compactness_mean', 'concavity_mean', 'concave points_mean', 'symmetry_mean', 'fractal_dimension_mean', 'radius_se', 'texture_se', 'perimeter_se', 'area_se', 'smoothness_se', 'compactness_se', 'concavity_se', 'concave points_se', 'symmetry_se', 'fractal_dimension_se', 'radius_worst', 'texture_worst', 'perimeter_worst', 'area_worst', 'smoothness_worst', 'compactness_worst', 'concavity_worst', 'concave points_worst', 'symmetry_worst', 'fractal_dimension_worst', 'diagnosis']

In [ ]:
data = {
    'X_train': X_train,
    'X_validation': X_validation,
    'X_test' : X_test,
    'Y_train' : Y_train,
    'Y_validation' : Y_validation,
    'Y_test' : Y_test,
    'header' : header,
    'label_names' : label_names
      }

path = '/content/drive/MyDrive/Colab Notebooks/Decision Tree/Datasets/Datasets/Pickle Formats/'
file_name = 'Cancer'


with open(path+file_name + '.pkl', 'wb') as f:
    pickle.dump(data, f)

# Diabetics Dataset

In [ ]:
raw_df = pd.read_csv(dataset_path + "diabetics_data.csv")
raw_df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [ ]:
raw_df = raw_df.dropna()
raw_df.info()

columns = raw_df.columns.tolist()
count = raw_df[columns].nunique()
print('\n\nNumber of Unique values for Each Columns : ')
count

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB


Number of Unique values for Each Columns :

Pregnancies                  17
Glucose                     136
BloodPressure                47
SkinThickness                51
Insulin                     186
BMI                         248
DiabetesPedigreeFunction    517
Age                          52
Outcome                       2
dtype: int64

In [ ]:
header = columns
label_names = 'Outcome'
X = raw_df.drop(label_names, axis=1)
X.info()
Y = raw_df[label_names]
Y

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
dtypes: float64(2), int64(6)
memory usage: 48.1 KB

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.1, random_state=42, stratify=Y)
X_train, X_validation, Y_train, Y_validation = train_test_split(X_train, Y_train, test_size=0.2, random_state=42, stratify=Y_train)

# Balancing Training Data
oversample = SMOTE()
X_train, Y_train = oversample.fit_resample(X_train, Y_train)

print('Train: \n', Counter(Y_train))
print('Validation: \n', Counter(Y_validation))
print('Test: \n', Counter(Y_test))

scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train)
X_validation = scaler.transform (X_validation)
X_test = scaler.transform (X_test)

print('\n')
print('Train: ', X_train.shape)
print('Validation: ', X_validation.shape)
print('Test: ', X_test.shape)

X_train = list(X_train)
X_validation = list(X_validation)
X_test = list(X_test)

Y_train = list(Y_train)
Y_validation = list(Y_validation)
Y_test = list(Y_test)

columns.remove(label_names)
columns.append(label_names)
print('\n\n All the Columns : ', columns)

Train:
 Counter({0: 359, 1: 359})
Validation:
 Counter({0: 91, 1: 48})
Test:
 Counter({0: 50, 1: 27})


Train:  (718, 8)
Validation:  (139, 8)
Test:  (77, 8)


 All the Columns :  ['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome']

In [ ]:
data = {
    'X_train': X_train,
    'X_validation': X_validation,
    'X_test' : X_test,
    'Y_train' : Y_train,
    'Y_validation' : Y_validation,
    'Y_test' : Y_test,
    'header' : header,
    'label_names' : label_names
      }

path = '/content/drive/MyDrive/Colab Notebooks/Decision Tree/Datasets/Datasets/Pickle Formats/'
file_name = 'Diabetics'


with open(path+file_name + '.pkl', 'wb') as f:
    pickle.dump(data, f)

# Heart Disease

In [ ]:
raw_df = pd.read_csv(dataset_path + "heart_disease_data.csv")
raw_df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [ ]:
raw_df = raw_df.dropna()
raw_df.info()

columns = raw_df.columns.tolist()
count = raw_df[columns].nunique()
print('\n\nNumber of Unique values for Each Columns : ')
count

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB


Number of Unique values for Each Columns :

age          41
sex           2
cp            4
trestbps     49
chol        152
fbs           2
restecg       3
thalach      91
exang         2
oldpeak      40
slope         3
ca            5
thal          4
target        2
dtype: int64

In [ ]:
header = columns
label_names = 'target'
X = raw_df.drop(label_names, axis=1)
X.info()
Y = raw_df[label_names]
Y

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
dtypes: float64(1), int64(12)
memory usage: 30.9 KB

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.1, random_state=42, stratify=Y)
X_train, X_validation, Y_train, Y_validation = train_test_split(X_train, Y_train, test_size=0.2, random_state=42, stratify=Y_train)

# Balancing Training Data
oversample = SMOTE()
X_train, Y_train = oversample.fit_resample(X_train, Y_train)


print('Train: \n', Counter(Y_train))
print('Validation: \n', Counter(Y_validation))
print('Test: \n', Counter(Y_test))

scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train)
X_validation = scaler.transform (X_validation)
X_test = scaler.transform (X_test)

print('\n')
print('Train : ', X_train.shape)
print('Validation : ', X_validation.shape)
print('Test : ', X_test.shape)

X_train = list(X_train)
X_validation = list(X_validation)
X_test = list(X_test)

Y_train = list(Y_train)
Y_validation = list(Y_validation)
Y_test = list(Y_test)

columns.remove(label_names)
columns.append(label_names)
print('\n\n All the Columns : ', columns)

Train:
 Counter({0: 118, 1: 118})
Validation:
 Counter({1: 30, 0: 25})
Test:
 Counter({1: 17, 0: 14})


Train :  (236, 13)
Validation :  (55, 13)
Test :  (31, 13)


 All the Columns :  ['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target']

In [ ]:
data = {
    'X_train': X_train,
    'X_validation': X_validation,
    'X_test' : X_test,
    'Y_train' : Y_train,
    'Y_validation' : Y_validation,
    'Y_test' : Y_test,
    'header' : header,
    'label_names' : label_names
      }

path = '/content/drive/MyDrive/Colab Notebooks/Decision Tree/Datasets/Datasets/Pickle Formats/'
file_name = 'Heart'


with open(path+file_name + '.pkl', 'wb') as f:
    pickle.dump(data, f)

# Psycology Dataset

In [ ]:
raw_df = pd.read_csv(dataset_path + "psycology_data.csv")
raw_df

,age,gender,occupation,line_of_work,time_bp,time_dp,travel_time,easeof_online,home_env,prod_inc,...,fam_connect,relaxed,self_time,like_hw,dislike_hw,prefer,certaindays_hw,Unnamed: 19,time_bp.1,travel+work
0,19-25,Male,Student in College,NaN,7,5,0.5,3,3,0.0,...,1.0,-0.5,-0.5,100,1,Complete Physical Attendance,Yes,NaN,7,NaN
1,Dec-18,Male,Student in School,NaN,7,11,0.5,4,2,-0.5,...,1.0,1.0,1.0,1111,1110,Complete Physical Attendance,No,NaN,7,NaN
2,19-25,Male,Student in College,NaN,7,7,1.5,2,2,1.0,...,0.5,0.5,0.5,1100,111,Complete Physical Attendance,Yes,NaN,7,NaN
3,19-25,Male,Student in College,NaN,7,7,1.5,3,1,0.0,...,0.0,-1.0,-0.5,100,1111,Complete Physical Attendance,Yes,NaN,7,NaN
4,19-25,Female,Student in College,NaN,7,7,1.5,2,2,0.0,...,0.0,0.5,0.0,1010,1000,Complete Physical Attendance,Yes,NaN,7,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1170,40-50,Female,Entrepreneur,NaN,9,9,0.5,2,1,0.5,...,0.5,0.0,0.0,10,1,Complete Physical Attendance,Yes,NaN,9,NaN
1171,26-32,Female,Homemaker,NaN,5,12,0.5,3,5,-0.5,...,0.0,-0.5,-0.5,100,111,Complete Physical Attendance,Maybe,NaN,5,NaN
1172,26-32,Male,Working Professional,Engineering,9,11,0.5,3,2,0.5,...,0.5,0.0,0.0,1111,110,Complete Physical Attendance,Maybe,NaN,9,NaN
1173,26-32,Male,Working Professional,Engineering,11,12,1.5,2,2,0.0,...,-1.0,0.0,-0.5,1111,1100,Complete Physical Attendance,Yes,NaN,11,NaN
1174,40-50,Male,Working Professional,Engineering,5,5,0.5,2,2,0.5,...,0.5,0.5,0.5,1100,101,Work/study from home,Yes,NaN,5,NaN

In [ ]:
raw_df.info()

columns = raw_df.columns.tolist()
count = raw_df[columns].nunique()
print('\n\nNumber of Unique values for Each Columns : ')
count

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1175 entries, 0 to 1174
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             1175 non-null   object
 1   gender          1175 non-null   object
 2   occupation      1175 non-null   object
 3   line_of_work    479 non-null    object
 4   time_bp         1175 non-null   int64
 5   time_dp         1175 non-null   int64
 6   travel_time     1175 non-null   float64
 7   easeof_online   1175 non-null   int64
 8   home_env        1175 non-null   int64
 9   prod_inc        1175 non-null   float64
 10  sleep_bal       1175 non-null   float64
 11  new_skill       1175 non-null   float64
 12  fam_connect     1175 non-null   float64
 13  relaxed         1175 non-null   float64
 14  self_time       1175 non-null   float64
 15  like_hw         1175 non-null   int64
 16  dislike_hw      1175 non-null   int64
 17  prefer          1175 non-null   object
 18  certaindays_hw  1175 non-null   object
 19  Unnamed: 19     0 non-null      float64
 20  time_bp.1       1175 non-null   int64
 21  travel+work     0 non-null      float64
dtypes: float64(9), int64(7), object(6)
memory usage: 202.1+ KB


Number of Unique values for Each Columns :

age                7
gender             3
occupation         8
line_of_work       8
time_bp            6
time_dp            6
travel_time        4
easeof_online      5
home_env           5
prod_inc           5
sleep_bal          5
new_skill          5
fam_connect        5
relaxed            5
self_time          5
like_hw           15
dislike_hw        15
prefer             2
certaindays_hw     3
Unnamed: 19        0
time_bp.1          6
travel+work        0
dtype: int64

In [ ]:
raw_df = raw_df.drop(columns=['Unnamed: 19', 'line_of_work', 'travel+work'])
raw_df.info()

columns = raw_df.columns.tolist()
count = raw_df[columns].nunique()
print('\n\nNumber of Unique values for Each Columns : ')
count

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1175 entries, 0 to 1174
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             1175 non-null   object
 1   gender          1175 non-null   object
 2   occupation      1175 non-null   object
 3   time_bp         1175 non-null   int64
 4   time_dp         1175 non-null   int64
 5   travel_time     1175 non-null   float64
 6   easeof_online   1175 non-null   int64
 7   home_env        1175 non-null   int64
 8   prod_inc        1175 non-null   float64
 9   sleep_bal       1175 non-null   float64
 10  new_skill       1175 non-null   float64
 11  fam_connect     1175 non-null   float64
 12  relaxed         1175 non-null   float64
 13  self_time       1175 non-null   float64
 14  like_hw         1175 non-null   int64
 15  dislike_hw      1175 non-null   int64
 16  prefer          1175 non-null   object
 17  certaindays_hw  1175 non-null   object
 18  time_bp.1       1175 non-null   int64
dtypes: float64(7), int64(7), object(5)
memory usage: 174.5+ KB


Number of Unique values for Each Columns :

age                7
gender             3
occupation         8
time_bp            6
time_dp            6
travel_time        4
easeof_online      5
home_env           5
prod_inc           5
sleep_bal          5
new_skill          5
fam_connect        5
relaxed            5
self_time          5
like_hw           15
dislike_hw        15
prefer             2
certaindays_hw     3
time_bp.1          6
dtype: int64

In [ ]:
non_numeric_df = raw_df.select_dtypes(exclude=[np.number])
non_numeric_columns = non_numeric_df.columns.tolist()

print('======Before Catagorical======')
for col in non_numeric_columns:
  print('\nUnique Values of "', col, '" column - \n', Counter(raw_df[col]))

#non_numeric_df
#non_numeric_columns

======Before Catagorical======

Unique Values of " age " column -
 Counter({'19-25': 345, '26-32': 261, '40-50': 181, '50-60': 170, '33-40': 102, 'Dec-18': 74, '60+': 42})

Unique Values of " gender " column -
 Counter({'Male': 649, 'Female': 518, 'Prefer not to say': 8})

Unique Values of " occupation " column -
 Counter({'Working Professional': 479, 'Student in College': 358, 'Entrepreneur': 119, 'Homemaker': 82, 'Medical Professional aiding efforts against COVID-19': 73, 'Currently Out of Work': 44, 'Student in School': 18, 'Retired/Senior Citizen': 2})

Unique Values of " prefer " column -
 Counter({'Complete Physical Attendance': 836, 'Work/study from home': 339})

Unique Values of " certaindays_hw " column -
 Counter({'Yes': 568, 'No': 309, 'Maybe': 298})

In [ ]:
print('======After Catagorical======')
for col in non_numeric_columns:
  raw_df[col], _ = pd.factorize(raw_df[col])
  print('\nUnique Values of "', col, '" column - \n', Counter(raw_df[col]))

======After Catagorical======

Unique Values of " age " column -
 Counter({0: 345, 4: 261, 5: 181, 6: 170, 2: 102, 1: 74, 3: 42})

Unique Values of " gender " column -
 Counter({0: 649, 1: 518, 2: 8})

Unique Values of " occupation " column -
 Counter({2: 479, 0: 358, 3: 119, 5: 82, 7: 73, 6: 44, 1: 18, 4: 2})

Unique Values of " prefer " column -
 Counter({0: 836, 1: 339})

Unique Values of " certaindays_hw " column -
 Counter({0: 568, 1: 309, 2: 298})

In [ ]:
raw_df.info()

columns = raw_df.columns.tolist()
count = raw_df[columns].nunique()
print('\n\nNumber of Unique values for Each Columns : ')
count

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1175 entries, 0 to 1174
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             1175 non-null   int64
 1   gender          1175 non-null   int64
 2   occupation      1175 non-null   int64
 3   time_bp         1175 non-null   int64
 4   time_dp         1175 non-null   int64
 5   travel_time     1175 non-null   float64
 6   easeof_online   1175 non-null   int64
 7   home_env        1175 non-null   int64
 8   prod_inc        1175 non-null   float64
 9   sleep_bal       1175 non-null   float64
 10  new_skill       1175 non-null   float64
 11  fam_connect     1175 non-null   float64
 12  relaxed         1175 non-null   float64
 13  self_time       1175 non-null   float64
 14  like_hw         1175 non-null   int64
 15  dislike_hw      1175 non-null   int64
 16  prefer          1175 non-null   int64
 17  certaindays_hw  1175 non-null   int64
 18  time_bp.1       1175 non-null   int64
dtypes: float64(7), int64(12)
memory usage: 174.5 KB


Number of Unique values for Each Columns :

age                7
gender             3
occupation         8
time_bp            6
time_dp            6
travel_time        4
easeof_online      5
home_env           5
prod_inc           5
sleep_bal          5
new_skill          5
fam_connect        5
relaxed            5
self_time          5
like_hw           15
dislike_hw        15
prefer             2
certaindays_hw     3
time_bp.1          6
dtype: int64

In [ ]:
# Creating a new column for Y (Target Value)
some_columns = ['prod_inc', 'sleep_bal', 'new_skill', 'fam_connect', 'relaxed', 'self_time']
raw_df['lifestyle_change'] = raw_df[some_columns].apply(lambda row: np.any(np.abs(row) > 0.5), axis=1).astype(int)
raw_df

,age,gender,occupation,time_bp,time_dp,travel_time,easeof_online,home_env,prod_inc,sleep_bal,new_skill,fam_connect,relaxed,self_time,like_hw,dislike_hw,prefer,certaindays_hw,time_bp.1,lifestyle_change
0,0,0,0,7,5,0.5,3,3,0.0,0.0,0.5,1.0,-0.5,-0.5,100,1,0,0,7,1
1,1,0,1,7,11,0.5,4,2,-0.5,0.5,-1.0,1.0,1.0,1.0,1111,1110,0,1,7,1
2,0,0,0,7,7,1.5,2,2,1.0,0.0,0.5,0.5,0.5,0.5,1100,111,0,0,7,1
3,0,0,0,7,7,1.5,3,1,0.0,1.0,0.5,0.0,-1.0,-0.5,100,1111,0,0,7,1
4,0,1,0,7,7,1.5,2,2,0.0,0.0,0.0,0.0,0.5,0.0,1010,1000,0,0,7,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1170,5,1,3,9,9,0.5,2,1,0.5,-0.5,-0.5,0.5,0.0,0.0,10,1,0,0,9,0
1171,4,1,5,5,12,0.5,3,5,-0.5,-1.0,-0.5,0.0,-0.5,-0.5,100,111,0,2,5,1
1172,4,0,2,9,11,0.5,3,2,0.5,0.5,0.5,0.5,0.0,0.0,1111,110,0,2,9,0
1173,4,0,2,11,12,1.5,2,2,0.0,0.0,0.0,-1.0,0.0,-0.5,1111,1100,0,0,11,1
1174,5,0,2,5,5,0.5,2,2,0.5,-0.5,0.5,0.5,0.5,0.5,1100,101,1,0,5,0

In [ ]:
Counter(raw_df['lifestyle_change'])

Counter({1: 761, 0: 414})

In [ ]:
raw_df = raw_df.dropna()
raw_df.info()

columns = raw_df.columns.tolist()
count = raw_df[columns].nunique()
print('\n\nNumber of Unique values for Each Columns : ')
count

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1175 entries, 0 to 1174
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               1175 non-null   int64
 1   gender            1175 non-null   int64
 2   occupation        1175 non-null   int64
 3   time_bp           1175 non-null   int64
 4   time_dp           1175 non-null   int64
 5   travel_time       1175 non-null   float64
 6   easeof_online     1175 non-null   int64
 7   home_env          1175 non-null   int64
 8   prod_inc          1175 non-null   float64
 9   sleep_bal         1175 non-null   float64
 10  new_skill         1175 non-null   float64
 11  fam_connect       1175 non-null   float64
 12  relaxed           1175 non-null   float64
 13  self_time         1175 non-null   float64
 14  like_hw           1175 non-null   int64
 15  dislike_hw        1175 non-null   int64
 16  prefer            1175 non-null   int64
 17  certaindays_hw    1175 non-null   int64
 18  time_bp.1         1175 non-null   int64
 19  lifestyle_change  1175 non-null   int64
dtypes: float64(7), int64(13)
memory usage: 183.7 KB


Number of Unique values for Each Columns :

age                  7
gender               3
occupation           8
time_bp              6
time_dp              6
travel_time          4
easeof_online        5
home_env             5
prod_inc             5
sleep_bal            5
new_skill            5
fam_connect          5
relaxed              5
self_time            5
like_hw             15
dislike_hw          15
prefer               2
certaindays_hw       3
time_bp.1            6
lifestyle_change     2
dtype: int64

In [ ]:
header = columns
label_names = 'lifestyle_change'
X = raw_df.drop(label_names, axis=1)
X.info()
Y = raw_df[label_names]
Y

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1175 entries, 0 to 1174
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             1175 non-null   int64
 1   gender          1175 non-null   int64
 2   occupation      1175 non-null   int64
 3   time_bp         1175 non-null   int64
 4   time_dp         1175 non-null   int64
 5   travel_time     1175 non-null   float64
 6   easeof_online   1175 non-null   int64
 7   home_env        1175 non-null   int64
 8   prod_inc        1175 non-null   float64
 9   sleep_bal       1175 non-null   float64
 10  new_skill       1175 non-null   float64
 11  fam_connect     1175 non-null   float64
 12  relaxed         1175 non-null   float64
 13  self_time       1175 non-null   float64
 14  like_hw         1175 non-null   int64
 15  dislike_hw      1175 non-null   int64
 16  prefer          1175 non-null   int64
 17  certaindays_hw  1175 non-null   int64
 18  time_bp.1       1175 non-null   int64
dtypes: float64(7), int64(12)
memory usage: 174.5 KB

0       1
1       1
2       1
3       1
4       0
       ..
1170    0
1171    1
1172    0
1173    1
1174    0
Name: lifestyle_change, Length: 1175, dtype: int64

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.1, random_state=42, stratify=Y)
X_train, X_validation, Y_train, Y_validation = train_test_split(X_train, Y_train, test_size=0.2, random_state=42, stratify=Y_train)

# Balancing Training Data
oversample = SMOTE()
X_train, Y_train = oversample.fit_resample(X_train, Y_train)


print('Train: \n', Counter(Y_train))
print('Validation : \n', Counter(Y_validation))
print('Test : \n', Counter(Y_test))

scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train)
X_validation = scaler.transform (X_validation)
X_test = scaler.transform (X_test)

print('\n')
print('Train : ', X_train.shape)
print('Validation : ', X_validation.shape)
print('Test : ', X_test.shape)

X_train = list(X_train)
X_validation = list(X_validation)
X_test = list(X_test)

Y_train = list(Y_train)
Y_validation = list(Y_validation)
Y_test = list(Y_test)

columns.remove(label_names)
columns.append(label_names)
print('\n\n All the Columns : ', columns)

Train:
 Counter({1: 548, 0: 548})
Validation :
 Counter({1: 137, 0: 75})
Test :
 Counter({1: 76, 0: 42})


Train :  (1096, 19)
Validation :  (212, 19)
Test :  (118, 19)


 All the Columns :  ['age', 'gender', 'occupation', 'time_bp', 'time_dp', 'travel_time', 'easeof_online', 'home_env', 'prod_inc', 'sleep_bal', 'new_skill', 'fam_connect', 'relaxed', 'self_time', 'like_hw', 'dislike_hw', 'prefer', 'certaindays_hw', 'time_bp.1', 'lifestyle_change']

In [ ]:
data = {
    'X_train': X_train,
    'X_validation': X_validation,
    'X_test' : X_test,
    'Y_train' : Y_train,
    'Y_validation' : Y_validation,
    'Y_test' : Y_test,
    'header' : header,
    'label_names' : label_names
      }

path = '/content/drive/MyDrive/Colab Notebooks/Decision Tree/Datasets/Datasets/Pickle Formats/'
file_name = 'Psycology'


with open(path+file_name + '.pkl', 'wb') as f:
    pickle.dump(data, f)

# Titanic Dataset

In [ ]:
raw_df = pd.read_csv(dataset_path + "titanic_data.csv")
raw_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
raw_df.info()
columns = raw_df.columns.tolist()
count = raw_df[columns].nunique()
print('\n\nNumber of Unique values for Each Columns : ')
count

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB


Number of Unique values for Each Columns :

PassengerId    891
Survived         2
Pclass           3
Name           891
Sex              2
Age             88
SibSp            7
Parch            7
Ticket         681
Fare           248
Cabin          147
Embarked         3
dtype: int64

In [ ]:
raw_df = raw_df.drop(columns=['PassengerId', 'Fare', 'Ticket', 'Name','Age', 'Cabin']) # PassengerId, Fare, TicketNumber, Name not considered as dominating attributes for survival, Age and Cabin has few entrie

non_numeric_df = raw_df.select_dtypes(exclude=[np.number])
non_numeric_columns = non_numeric_df.columns.tolist()

print('======Before Catagorical======')
for col in non_numeric_columns:
  print('\nUnique Values of "', col, '" column - \n', Counter(raw_df[col]))

#non_numeric_df
#non_numeric_columns

======Before Catagorical======

Unique Values of " Sex " column -
 Counter({'male': 577, 'female': 314})

Unique Values of " Embarked " column -
 Counter({'S': 644, 'C': 168, 'Q': 77, nan: 2})

In [ ]:
raw_df = raw_df.dropna()

print('======After Catagorical======')
for col in non_numeric_columns:
  raw_df[col], _ = pd.factorize(raw_df[col])
  print('\nUnique Values of "', col, '" column - \n', Counter(raw_df[col]))

======After Catagorical======

Unique Values of " Sex " column -
 Counter({0: 577, 1: 312})

Unique Values of " Embarked " column -
 Counter({0: 644, 1: 168, 2: 77})

In [ ]:
raw_df = raw_df.dropna()
raw_df.info()

columns = raw_df.columns.tolist()
count = raw_df[columns].nunique()
print('\n\nNumber of Unique values for Each Columns : ')
count

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  889 non-null    int64
 1   Pclass    889 non-null    int64
 2   Sex       889 non-null    int64
 3   SibSp     889 non-null    int64
 4   Parch     889 non-null    int64
 5   Embarked  889 non-null    int64
dtypes: int64(6)
memory usage: 48.6 KB


Number of Unique values for Each Columns :

Survived    2
Pclass      3
Sex         2
SibSp       7
Parch       7
Embarked    3
dtype: int64

In [ ]:
header = columns
label_names = 'Survived'
X = raw_df.drop(label_names, axis=1)
X.info()
Y = raw_df[label_names]
Y

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    889 non-null    int64
 1   Sex       889 non-null    int64
 2   SibSp     889 non-null    int64
 3   Parch     889 non-null    int64
 4   Embarked  889 non-null    int64
dtypes: int64(5)
memory usage: 41.7 KB

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 889, dtype: int64

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.1, random_state=42, stratify=Y)
X_train, X_validation, Y_train, Y_validation = train_test_split(X_train, Y_train, test_size=0.2, random_state=42, stratify=Y_train)

# Balancing Training Data
oversample = SMOTE()
X_train, Y_train = oversample.fit_resample(X_train, Y_train)


print('Train: \n', Counter(Y_train))
print('Validation : \n', Counter(Y_validation))
print('Test : \n', Counter(Y_test))

scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train)
X_validation = scaler.transform (X_validation)
X_test = scaler.transform (X_test)

print('\n')
print('Train : ', X_train.shape)
print('Validation : ', X_validation.shape)
print('Test : ', X_test.shape)

X_train = list(X_train)
X_validation = list(X_validation)
X_test = list(X_test)

Y_train = list(Y_train)
Y_validation = list(Y_validation)
Y_test = list(Y_test)

columns.remove(label_names)
columns.append(label_names)
print('\n\n All the Columns : ', columns)

Train:
 Counter({1: 395, 0: 395})
Validation :
 Counter({0: 99, 1: 61})
Test :
 Counter({0: 55, 1: 34})


Train :  (790, 5)
Validation :  (160, 5)
Test :  (89, 5)


 All the Columns :  ['Pclass', 'Sex', 'SibSp', 'Parch', 'Embarked', 'Survived']

In [ ]:
data = {
    'X_train': X_train,
    'X_validation': X_validation,
    'X_test' : X_test,
    'Y_train' : Y_train,
    'Y_validation' : Y_validation,
    'Y_test' : Y_test,
    'header' : header,
    'label_names' : label_names
      }

path = '/content/drive/MyDrive/Colab Notebooks/Decision Tree/Datasets/Datasets/Pickle Formats/'
file_name = 'Titanic'


with open(path+file_name + '.pkl', 'wb') as f:
    pickle.dump(data, f)

# Country Salary

In [ ]:
raw_df = pd.read_csv(dataset_path + "country_salary_data.csv")
raw_df

,Unnamed: 0,Age,Gender,Education Level,Job Title,Years of Experience,Salary,Country,Race
0,0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0,UK,White
1,1,28.0,Female,Master's,Data Analyst,3.0,65000.0,USA,Hispanic
2,2,45.0,Male,PhD,Senior Manager,15.0,150000.0,Canada,White
3,3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0,USA,Hispanic
4,4,52.0,Male,Master's,Director,20.0,200000.0,USA,Asian
...,...,...,...,...,...,...,...,...,...
6699,6699,49.0,Female,PhD,Director of Marketing,20.0,200000.0,UK,Mixed
6700,6700,32.0,Male,High School,Sales Associate,3.0,50000.0,Australia,Australian
6701,6701,30.0,Female,Bachelor's Degree,Financial Manager,4.0,55000.0,China,Chinese
6702,6702,46.0,Male,Master's Degree,Marketing Manager,14.0,140000.0,China,Korean
6703,6703,26.0,Female,High School,Sales Executive,1.0,35000.0,Canada,Black

In [ ]:
raw_df.info()
columns = raw_df.columns.tolist()
count = raw_df[columns].nunique()

print('\n\nNumber of Unique values for Each Columns : ')
count

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6704 entries, 0 to 6703
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           6704 non-null   int64
 1   Age                  6702 non-null   float64
 2   Gender               6702 non-null   object
 3   Education Level      6701 non-null   object
 4   Job Title            6702 non-null   object
 5   Years of Experience  6701 non-null   float64
 6   Salary               6699 non-null   float64
 7   Country              6704 non-null   object
 8   Race                 6704 non-null   object
dtypes: float64(3), int64(1), object(5)
memory usage: 471.5+ KB


Number of Unique values for Each Columns :

Unnamed: 0             6704
Age                      41
Gender                    3
Education Level           7
Job Title               193
Years of Experience      37
Salary                  444
Country                   5
Race                     10
dtype: int64

In [ ]:
raw_df = raw_df.drop(columns=['Unnamed: 0'])

non_numeric_df = raw_df.select_dtypes(exclude=[np.number])
non_numeric_columns = non_numeric_df.columns.tolist()

print('======Before Catagorical======')
for col in non_numeric_columns:
  print('\nUnique Values of "', col, '" column - \n', Counter(raw_df[col]))

#non_numeric_df
#non_numeric_columns

======Before Catagorical======

Unique Values of " Gender " column -
 Counter({'Male': 3674, 'Female': 3014, 'Other': 14, nan: 2})

Unique Values of " Education Level " column -
 Counter({"Bachelor's Degree": 2267, "Master's Degree": 1573, 'PhD': 1368, "Bachelor's": 756, 'High School': 448, "Master's": 288, nan: 3, 'phD': 1})

Unique Values of " Job Title " column -
 Counter({'Software Engineer': 518, 'Data Scientist': 453, 'Software Engineer Manager': 376, 'Data Analyst': 363, 'Senior Project Engineer': 318, 'Product Manager': 313, 'Full Stack Engineer': 309, 'Marketing Manager': 255, 'Senior Software Engineer': 244, 'Back end Developer': 244, 'Front end Developer': 241, 'Marketing Coordinator': 158, 'Junior Sales Associate': 142, 'Financial Manager': 134, 'Marketing Analyst': 132, 'Software Developer': 125, 'Operations Manager': 114, 'Human Resources Manager': 104, 'Director of Marketing': 88, 'Web Developer': 87, 'Product Designer': 75, 'Research Director': 75, 'Content Marketing Manager': 73, 'Sales Associate': 70, 'Research Scientist': 69, 'Senior Product Marketing Manager': 69, 'Director of HR': 69, 'Marketing Director': 64, 'Sales Director': 63, 'Senior Data Scientist': 61, 'Junior HR Generalist': 60, 'Junior Software Developer': 58, 'Director of Data Science': 57, 'Receptionist': 57, 'Sales Manager': 56, 'Digital Marketing Manager': 52, 'Junior Marketing Manager': 51, 'Junior Software Engineer': 51, 'Senior Research Scientist': 49, 'Human Resources Coordinator': 49, 'Senior Human Resources Manager': 48, 'Junior Web Developer': 42, 'Senior HR Generalist': 42, 'Junior Sales Representative': 41, 'Financial Analyst': 39, 'Sales Executive': 38, 'Sales Representative': 38, 'Front End Developer': 31, 'Junior HR Coordinator': 29, 'Junior Data Analyst': 25, 'Project Manager': 22, 'Graphic Designer': 22, 'Digital Marketing Specialist': 15, 'Social Media Manager': 14, 'Director of Operations': 11, 'Senior Business Analyst': 10, 'Senior Marketing Manager': 9, 'Senior Marketing Analyst': 9, 'Junior Business Analyst': 8, 'Senior Financial Analyst': 7, 'Senior Project Manager': 7, 'Junior Financial Analyst': 7, 'Junior Business Development Associate': 7, 'Customer Service Representative': 6, 'Senior Product Manager': 6, 'Junior Marketing Coordinator': 6, 'Senior Project Coordinator': 5, 'Junior Operations Analyst': 5, 'Junior Marketing Specialist': 5, 'Junior Project Manager': 5, 'Senior Product Designer': 5, 'Senior Operations Manager': 5, 'Senior Financial Manager': 5, 'Delivery Driver': 5, 'Senior Business Development Manager': 4, 'Junior Product Manager': 4, 'Senior Marketing Specialist': 4, 'Senior Data Engineer': 4, 'Senior Operations Coordinator': 4, 'Senior Scientist': 3, 'Junior Accountant': 3, 'Senior HR Manager': 3, 'Junior Marketing Analyst': 3, 'Senior Software Developer': 3, 'Senior Marketing Coordinator': 3, 'Senior UX Designer': 3, 'Senior Data Analyst': 3, 'Senior Financial Advisor': 3, 'Junior Operations Manager': 3, 'Juniour HR Generalist': 3, 'Juniour HR Coordinator': 3, 'Senior Manager': 2, 'HR Manager': 2, 'Senior Engineer': 2, 'Business Analyst': 2, 'Recruiter': 2, 'HR Generalist': 2, 'Administrative Assistant': 2, 'Customer Service Manager': 2, 'Event Coordinator': 2, 'Junior Account Manager': 2, 'Senior Sales Manager': 2, 'Senior Accountant': 2, 'Director of Human Resources': 2, 'Senior Sales Representative': 2, 'Director of Finance': 2, nan: 2, 'Senior Operations Analyst': 2, 'Senior IT Consultant': 2, 'Junior Business Operations Analyst': 2, 'Director of Engineering': 2, 'Director': 1, 'Customer Service Rep': 1, 'Data Entry Clerk': 1, 'VP of Operations': 1, 'IT Support': 1, 'Social Media Specialist': 1, 'Software Manager': 1, 'Junior Developer': 1, 'Senior Consultant': 1, 'CEO': 1, 'Accountant': 1, 'Marketing Specialist': 1, 'Technical Writer': 1, 'Project Engineer': 1, 'Customer Success Rep': 1, 'UX Designer': 1, 'Operations Director': 1, 'Network Engineer': 1, 'Strategy Consultant': 1, 'Copywriter': 1, 'Account Manager': 1, 'Help Desk Analyst': 1, 'Business Intelligence Analyst': 1, 'VP of Finance': 1, 'UX Researcher': 1, 'IT Manager': 1, 'Business Development Manager': 1, 'Technical Support Specialist': 1, 'Creative Director': 1, 'Human Resources Director': 1, 'Technical Recruiter': 1, 'Chief Technology Officer': 1, 'Junior Designer': 1, 'Financial Advisor': 1, 'Principal Scientist': 1, 'Supply Chain Manager': 1, 'Training Specialist': 1, 'Public Relations Manager': 1, 'Operations Analyst': 1, 'Product Marketing Manager': 1, 'Chief Data Officer': 1, 'Digital Content Producer': 1, 'IT Support Specialist': 1, 'Customer Success Manager': 1, 'Senior Graphic Designer': 1, 'Software Project Manager': 1, 'Supply Chain Analyst': 1, 'Office Manager': 1, 'Principal Engineer': 1, 'Sales Operations Manager': 1, 'Junior Web Designer': 1, 'Senior Training Specialist': 1, 'Director of Sales': 1, 'Junior Recruiter': 1, 'Junior Customer Support Specialist': 1, 'Senior IT Support Specialist': 1, 'Director of Product Management': 1, 'Junior Copywriter': 1, 'Senior Account Manager': 1, 'Senior Researcher': 1, 'Junior Data Scientist': 1, 'Senior Human Resources Coordinator': 1, 'Senior IT Project Manager': 1, 'Senior Quality Assurance Analyst': 1, 'Director of Sales and Marketing': 1, 'Senior Account Executive': 1, 'Director of Business Development': 1, 'Junior Social Media Manager': 1, 'Senior Human Resources Specialist': 1, 'Director of Human Capital': 1, 'Junior Advertising Coordinator': 1, 'Junior UX Designer': 1, 'Senior Marketing Director': 1, 'Junior Social Media Specialist': 1, 'Senior Product Development Manager': 1, 'Senior Software Architect': 1, 'Junior Research Scientist': 1, 'Senior HR Specialist': 1, 'Junior Operations Coordinator': 1, 'Junior Financial Advisor': 1, 'Developer': 1, 'Social M': 1, 'Social Media Man': 1})

Unique Values of " Country " column -
 Counter({'USA': 1360, 'China': 1343, 'UK': 1337, 'Australia': 1336, 'Canada': 1328})

Unique Values of " Race " column -
 Counter({'White': 1968, 'Asian': 1603, 'Korean': 457, 'Australian': 452, 'Chinese': 444, 'Black': 437, 'African American': 354, 'Mixed': 334, 'Welsh': 333, 'Hispanic': 322})

In [ ]:
raw_df = raw_df.dropna()

print('======After Catagorical======')
for col in non_numeric_columns:
  raw_df[col], _ = pd.factorize(raw_df[col])
  print('\nUnique Values of "', col, '" column - \n', Counter(raw_df[col]))

======After Catagorical======

Unique Values of " Gender " column -
 Counter({0: 3671, 1: 3013, 2: 14})

Unique Values of " Education Level " column -
 Counter({3: 2265, 4: 1572, 2: 1368, 0: 756, 5: 448, 1: 288, 6: 1})

Unique Values of " Job Title " column -
 Counter({0: 518, 32: 453, 174: 376, 1: 363, 176: 318, 6: 313, 177: 308, 16: 255, 67: 244, 175: 244, 178: 241, 8: 158, 182: 142, 24: 134, 5: 132, 10: 125, 15: 114, 183: 104, 46: 88, 63: 87, 29: 75, 64: 75, 69: 73, 3: 70, 81: 69, 113: 69, 170: 69, 188: 64, 19: 62, 56: 61, 101: 60, 82: 58, 180: 57, 187: 57, 7: 56, 58: 52, 111: 51, 128: 51, 109: 49, 181: 49, 133: 48, 87: 42, 104: 42, 110: 41, 12: 39, 38: 38, 71: 38, 179: 31, 137: 29, 112: 25, 13: 22, 52: 22, 186: 15, 54: 14, 55: 11, 97: 10, 79: 9, 92: 9, 114: 8, 62: 7, 76: 7, 125: 7, 134: 7, 60: 6, 102: 6, 139: 6, 88: 5, 103: 5, 116: 5, 117: 5, 122: 5, 126: 5, 166: 5, 190: 5, 121: 4, 144: 4, 145: 4, 168: 4, 171: 4, 9: 3, 57: 3, 86: 3, 98: 3, 106: 3, 132: 3, 143: 3, 153: 3, 159: 3, 163: 3, 184: 3, 185: 3, 2: 2, 11: 2, 17: 2, 20: 2, 23: 2, 35: 2, 42: 2, 48: 2, 50: 2, 75: 2, 115: 2, 118: 2, 127: 2, 129: 2, 138: 2, 141: 2, 158: 2, 160: 2, 173: 2, 4: 1, 14: 1, 18: 1, 21: 1, 22: 1, 25: 1, 26: 1, 27: 1, 28: 1, 30: 1, 31: 1, 33: 1, 34: 1, 36: 1, 37: 1, 39: 1, 40: 1, 41: 1, 43: 1, 44: 1, 45: 1, 47: 1, 49: 1, 51: 1, 53: 1, 59: 1, 61: 1, 65: 1, 66: 1, 68: 1, 70: 1, 72: 1, 73: 1, 74: 1, 77: 1, 78: 1, 80: 1, 83: 1, 84: 1, 85: 1, 89: 1, 90: 1, 91: 1, 93: 1, 94: 1, 95: 1, 96: 1, 99: 1, 100: 1, 105: 1, 107: 1, 108: 1, 119: 1, 120: 1, 123: 1, 124: 1, 130: 1, 131: 1, 135: 1, 136: 1, 140: 1, 142: 1, 146: 1, 147: 1, 148: 1, 149: 1, 150: 1, 151: 1, 152: 1, 154: 1, 155: 1, 156: 1, 157: 1, 161: 1, 162: 1, 164: 1, 165: 1, 167: 1, 169: 1, 172: 1, 189: 1})

Unique Values of " Country " column -
 Counter({1: 1359, 3: 1343, 4: 1336, 0: 1335, 2: 1325})

Unique Values of " Race " column -
 Counter({0: 1962, 2: 1603, 3: 457, 5: 452, 4: 444, 9: 437, 7: 354, 8: 334, 6: 333, 1: 322})

In [ ]:
raw_df.info()
columns = raw_df.columns.tolist()
count = raw_df[columns].nunique()

print('\n\nNumber of Unique values for Each Columns : ')
count

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6698 entries, 0 to 6703
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  6698 non-null   float64
 1   Gender               6698 non-null   int64
 2   Education Level      6698 non-null   int64
 3   Job Title            6698 non-null   int64
 4   Years of Experience  6698 non-null   float64
 5   Salary               6698 non-null   float64
 6   Country              6698 non-null   int64
 7   Race                 6698 non-null   int64
dtypes: float64(3), int64(5)
memory usage: 471.0 KB


Number of Unique values for Each Columns :

Age                     41
Gender                   3
Education Level          7
Job Title              191
Years of Experience     37
Salary                 444
Country                  5
Race                    10
dtype: int64

In [ ]:
header = columns
label_names = 'Country'

X = raw_df.drop(label_names, axis=1)
X.info()
Y = raw_df[label_names]
Y

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6698 entries, 0 to 6703
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  6698 non-null   float64
 1   Gender               6698 non-null   int64
 2   Education Level      6698 non-null   int64
 3   Job Title            6698 non-null   int64
 4   Years of Experience  6698 non-null   float64
 5   Salary               6698 non-null   float64
 6   Race                 6698 non-null   int64
dtypes: float64(3), int64(4)
memory usage: 418.6 KB

0       0
1       1
2       2
3       1
4       1
       ..
6699    0
6700    4
6701    3
6702    3
6703    2
Name: Country, Length: 6698, dtype: int64

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.1, random_state=42, stratify=Y)
X_train, X_validation, Y_train, Y_validation = train_test_split(X_train, Y_train, test_size=0.2, random_state=42, stratify=Y_train)

# Balancing Training Data
oversample = SMOTE()
X_train, Y_train = oversample.fit_resample(X_train, Y_train)


print('Train: \n', Counter(Y_train))
print('Validation : \n', Counter(Y_validation))
print('Test : \n', Counter(Y_test))

scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train)
X_validation = scaler.transform (X_validation)
X_test = scaler.transform (X_test)

print('\n')
print('Train : ', X_train.shape)
print('Validation : ', X_validation.shape)
print('Test : ', X_test.shape)

X_train = list(X_train)
X_validation = list(X_validation)
X_test = list(X_test)

Y_train = list(Y_train)
Y_validation = list(Y_validation)
Y_test = list(Y_test)

columns.remove(label_names)
columns.append(label_names)
print('\n\n All the Columns : ', columns)

Train:
 Counter({3: 978, 0: 978, 2: 978, 4: 978, 1: 978})
Validation :
 Counter({1: 245, 3: 242, 4: 240, 0: 240, 2: 239})
Test :
 Counter({1: 136, 0: 134, 4: 134, 3: 134, 2: 132})


Train :  (4890, 7)
Validation :  (1206, 7)
Test :  (670, 7)


 All the Columns :  ['Age', 'Gender', 'Education Level', 'Job Title', 'Years of Experience', 'Salary', 'Race', 'Country']

In [ ]:
data = {
    'X_train': X_train,
    'X_validation': X_validation,
    'X_test' : X_test,
    'Y_train' : Y_train,
    'Y_validation' : Y_validation,
    'Y_test' : Y_test,
    'header' : header,
    'label_names' : label_names
      }

path = '/content/drive/MyDrive/Colab Notebooks/Decision Tree/Datasets/Datasets/Pickle Formats/'
file_name = 'CountrySalary'


with open(path+file_name + '.pkl', 'wb') as f:
    pickle.dump(data, f)

# Netflix

In [ ]:
raw_df = pd.read_csv(dataset_path + "netflix_data.csv")
raw_df

,User ID,Subscription Type,Monthly Revenue,Join Date,Last Payment Date,Country,Age,Gender,Device,Plan Duration
0,1,Basic,10,15-01-22,10-06-23,United States,28,Male,Smartphone,1 Month
1,2,Premium,15,05-09-21,22-06-23,Canada,35,Female,Tablet,1 Month
2,3,Standard,12,28-02-23,27-06-23,United Kingdom,42,Male,Smart TV,1 Month
3,4,Standard,12,10-07-22,26-06-23,Australia,51,Female,Laptop,1 Month
4,5,Basic,10,01-05-23,28-06-23,Germany,33,Male,Smartphone,1 Month
...,...,...,...,...,...,...,...,...,...,...
2495,2496,Premium,14,25-07-22,12-07-23,Spain,28,Female,Smart TV,1 Month
2496,2497,Basic,15,04-08-22,14-07-23,Spain,33,Female,Smart TV,1 Month
2497,2498,Standard,12,09-08-22,15-07-23,United States,38,Male,Laptop,1 Month
2498,2499,Standard,13,12-08-22,12-07-23,Canada,48,Female,Tablet,1 Month
2499,2500,Basic,15,13-08-22,12-07-23,United States,35,Female,Smart TV,1 Month

In [ ]:
raw_df.info()
columns = raw_df.columns.tolist()
count = raw_df[columns].nunique()

print('\n\nNumber of Unique values for Each Columns : ')
count

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   User ID            2500 non-null   int64
 1   Subscription Type  2500 non-null   object
 2   Monthly Revenue    2500 non-null   int64
 3   Join Date          2500 non-null   object
 4   Last Payment Date  2500 non-null   object
 5   Country            2500 non-null   object
 6   Age                2500 non-null   int64
 7   Gender             2500 non-null   object
 8   Device             2500 non-null   object
 9   Plan Duration      2500 non-null   object
dtypes: int64(3), object(7)
memory usage: 195.4+ KB


Number of Unique values for Each Columns :

User ID              2500
Subscription Type       3
Monthly Revenue         6
Join Date             300
Last Payment Date      26
Country                10
Age                    26
Gender                  2
Device                  4
Plan Duration           1
dtype: int64

In [ ]:
raw_df = raw_df.drop(columns=['User ID', 'Join Date', 'Last Payment Date', 'Plan Duration'])  # User Id, not considered as dominating attributes for prediction; Date Format ignored; Plan Duration has only 1 unique value

non_numeric_df = raw_df.select_dtypes(exclude=[np.number])
non_numeric_columns = non_numeric_df.columns.tolist()

print('======Before Catagorical======')
for col in non_numeric_columns:
  print('\nUnique Values of "', col, '" column - \n', Counter(raw_df[col]))

#non_numeric_df
#non_numeric_columns

======Before Catagorical======

Unique Values of " Subscription Type " column -
 Counter({'Basic': 999, 'Standard': 768, 'Premium': 733})

Unique Values of " Country " column -
 Counter({'United States': 451, 'Spain': 451, 'Canada': 317, 'United Kingdom': 183, 'Australia': 183, 'Germany': 183, 'France': 183, 'Brazil': 183, 'Mexico': 183, 'Italy': 183})

Unique Values of " Gender " column -
 Counter({'Female': 1257, 'Male': 1243})

Unique Values of " Device " column -
 Counter({'Laptop': 636, 'Tablet': 633, 'Smartphone': 621, 'Smart TV': 610})

In [ ]:
raw_df = raw_df.dropna()

print('======After Catagorical======')
for col in non_numeric_columns:
  raw_df[col], _ = pd.factorize(raw_df[col])
  print('\nUnique Values of "', col, '" column - \n', Counter(raw_df[col]))

======After Catagorical======

Unique Values of " Subscription Type " column -
 Counter({0: 999, 2: 768, 1: 733})

Unique Values of " Country " column -
 Counter({0: 451, 8: 451, 1: 317, 2: 183, 3: 183, 4: 183, 5: 183, 6: 183, 7: 183, 9: 183})

Unique Values of " Gender " column -
 Counter({1: 1257, 0: 1243})

Unique Values of " Device " column -
 Counter({3: 636, 1: 633, 0: 621, 2: 610})

In [ ]:
raw_df.info()
columns = raw_df.columns.tolist()
count = raw_df[columns].nunique()

print('\n\nNumber of Unique values for Each Columns : ')
count

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Subscription Type  2500 non-null   int64
 1   Monthly Revenue    2500 non-null   int64
 2   Country            2500 non-null   int64
 3   Age                2500 non-null   int64
 4   Gender             2500 non-null   int64
 5   Device             2500 non-null   int64
dtypes: int64(6)
memory usage: 117.3 KB


Number of Unique values for Each Columns :

Subscription Type     3
Monthly Revenue       6
Country              10
Age                  26
Gender                2
Device                4
dtype: int64

In [ ]:
header = columns
label_names = 'Subscription Type'

X = raw_df.drop(label_names, axis=1)
X.info()
Y = raw_df[label_names]
Y

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Monthly Revenue  2500 non-null   int64
 1   Country          2500 non-null   int64
 2   Age              2500 non-null   int64
 3   Gender           2500 non-null   int64
 4   Device           2500 non-null   int64
dtypes: int64(5)
memory usage: 97.8 KB

0       0
1       1
2       2
3       2
4       0
       ..
2495    1
2496    0
2497    2
2498    2
2499    0
Name: Subscription Type, Length: 2500, dtype: int64

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.1, random_state=42, stratify=Y)
X_train, X_validation, Y_train, Y_validation = train_test_split(X_train, Y_train, test_size=0.2, random_state=42, stratify=Y_train)

# Balancing Training Data
oversample = SMOTE()
X_train, Y_train = oversample.fit_resample(X_train, Y_train)


print('Train: \n', Counter(Y_train))
print('Validation : \n', Counter(Y_validation))
print('Test : \n', Counter(Y_test))

scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train)
X_validation = scaler.transform (X_validation)
X_test = scaler.transform (X_test)

print('\n')
print('Train : ', X_train.shape)
print('Validation : ', X_validation.shape)
print('Test : ', X_test.shape)

X_train = list(X_train)
X_validation = list(X_validation)
X_test = list(X_test)

Y_train = list(Y_train)
Y_validation = list(Y_validation)
Y_test = list(Y_test)

columns.remove(label_names)
columns.append(label_names)
print('\n\n All the Columns : ', columns)

Train:
 Counter({2: 719, 0: 719, 1: 719})
Validation :
 Counter({0: 180, 2: 138, 1: 132})
Test :
 Counter({0: 100, 2: 77, 1: 73})


Train :  (2157, 5)
Validation :  (450, 5)
Test :  (250, 5)


 All the Columns :  ['Monthly Revenue', 'Country', 'Age', 'Gender', 'Device', 'Subscription Type']

In [ ]:
data = {
    'X_train': X_train,
    'X_validation': X_validation,
    'X_test' : X_test,
    'Y_train' : Y_train,
    'Y_validation' : Y_validation,
    'Y_test' : Y_test,
    'header' : header,
    'label_names' : label_names
      }

path = '/content/drive/MyDrive/Colab Notebooks/Decision Tree/Datasets/Datasets/Pickle Formats/'
file_name = 'Netflix'

with open(path+file_name + '.pkl', 'wb') as f:
    pickle.dump(data, f)

# Housing Price Dataset

In [ ]:
raw_df = pd.read_csv(dataset_path + "housing_data.csv")
raw_df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [ ]:
raw_df.info()
columns = raw_df.columns.tolist()
count = raw_df[columns].nunique()

print('\n\nNumber of Unique values for Each Columns : ')
count

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB


Number of Unique values for Each Columns :

price               219
area                284
bedrooms              6
bathrooms             4
stories               4
mainroad              2
guestroom             2
basement              2
hotwaterheating       2
airconditioning       2
parking               4
prefarea              2
furnishingstatus      3
dtype: int64

In [ ]:
non_numeric_df = raw_df.select_dtypes(exclude=[np.number])
non_numeric_columns = non_numeric_df.columns.tolist()

print('======Before Catagorical======')
for col in non_numeric_columns:
  print('\nUnique Values of ', col, 'column - \n', Counter(raw_df[col]))

#non_numeric_df
#non_numeric_columns

======Before Catagorical======

Unique Values of  mainroad column -
 Counter({'yes': 468, 'no': 77})

Unique Values of  guestroom column -
 Counter({'no': 448, 'yes': 97})

Unique Values of  basement column -
 Counter({'no': 354, 'yes': 191})

Unique Values of  hotwaterheating column -
 Counter({'no': 520, 'yes': 25})

Unique Values of  airconditioning column -
 Counter({'no': 373, 'yes': 172})

Unique Values of  prefarea column -
 Counter({'no': 417, 'yes': 128})

Unique Values of  furnishingstatus column -
 Counter({'semi-furnished': 227, 'unfurnished': 178, 'furnished': 140})

In [ ]:
raw_df = raw_df.dropna()

print('======After Catagorical======')
for col in non_numeric_columns:
  raw_df[col], _ = pd.factorize(raw_df[col])
  print('\nUnique Values of "', col, '"column - \n', Counter(raw_df[col]))

======After Catagorical======

Unique Values of " mainroad "column -
 Counter({0: 468, 1: 77})

Unique Values of " guestroom "column -
 Counter({0: 448, 1: 97})

Unique Values of " basement "column -
 Counter({0: 354, 1: 191})

Unique Values of " hotwaterheating "column -
 Counter({0: 520, 1: 25})

Unique Values of " airconditioning "column -
 Counter({1: 373, 0: 172})

Unique Values of " prefarea "column -
 Counter({1: 417, 0: 128})

Unique Values of " furnishingstatus "column -
 Counter({1: 227, 2: 178, 0: 140})

In [ ]:
raw_df.info()
columns = raw_df.columns.tolist()
count = raw_df[columns].nunique()

print('\n\nNumber of Unique values for Each Columns : ')
count

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    int64
 6   guestroom         545 non-null    int64
 7   basement          545 non-null    int64
 8   hotwaterheating   545 non-null    int64
 9   airconditioning   545 non-null    int64
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    int64
 12  furnishingstatus  545 non-null    int64
dtypes: int64(13)
memory usage: 55.5 KB


Number of Unique values for Each Columns :

price               219
area                284
bedrooms              6
bathrooms             4
stories               4
mainroad              2
guestroom             2
basement              2
hotwaterheating       2
airconditioning       2
parking               4
prefarea              2
furnishingstatus      3
dtype: int64

In [ ]:
header = columns
label_names = 'furnishingstatus'

X = raw_df.drop(label_names, axis=1)
X.info()
Y = raw_df[label_names]
Y

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   price            545 non-null    int64
 1   area             545 non-null    int64
 2   bedrooms         545 non-null    int64
 3   bathrooms        545 non-null    int64
 4   stories          545 non-null    int64
 5   mainroad         545 non-null    int64
 6   guestroom        545 non-null    int64
 7   basement         545 non-null    int64
 8   hotwaterheating  545 non-null    int64
 9   airconditioning  545 non-null    int64
 10  parking          545 non-null    int64
 11  prefarea         545 non-null    int64
dtypes: int64(12)
memory usage: 51.2 KB

0      0
1      0
2      1
3      0
4      0
      ..
540    2
541    1
542    2
543    0
544    2
Name: furnishingstatus, Length: 545, dtype: int64

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.1, random_state=42, stratify=Y)
X_train, X_validation, Y_train, Y_validation = train_test_split(X_train, Y_train, test_size=0.2, random_state=42, stratify=Y_train)

# Balancing Training Data
oversample = SMOTE()
X_train, Y_train = oversample.fit_resample(X_train, Y_train)


print('Train: \n', Counter(Y_train))
print('Validation : \n', Counter(Y_validation))
print('Test : \n', Counter(Y_test))

scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train)
X_validation = scaler.transform (X_validation)
X_test = scaler.transform (X_test)

print('\n')
print('Train : ', X_train.shape)
print('Validation : ', X_validation.shape)
print('Test : ', X_test.shape)

X_train = list(X_train)
X_validation = list(X_validation)
X_test = list(X_test)

Y_train = list(Y_train)
Y_validation = list(Y_validation)
Y_test = list(Y_test)

columns.remove(label_names)
columns.append(label_names)
print('\n\n All the Columns : ', columns)

Train:
 Counter({0: 163, 2: 163, 1: 163})
Validation :
 Counter({1: 41, 2: 32, 0: 25})
Test :
 Counter({1: 23, 2: 18, 0: 14})


Train :  (489, 12)
Validation :  (98, 12)
Test :  (55, 12)


 All the Columns :  ['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad', 'guestroom', 'basement', 'hotwaterheating', 'airconditioning', 'parking', 'prefarea', 'furnishingstatus']

In [ ]:
data = {
    'X_train': X_train,
    'X_validation': X_validation,
    'X_test' : X_test,
    'Y_train' : Y_train,
    'Y_validation' : Y_validation,
    'Y_test' : Y_test,
    'header' : header,
    'label_names' : label_names
      }

path = '/content/drive/MyDrive/Colab Notebooks/Decision Tree/Datasets/Datasets/Pickle Formats/'
file_name = 'Housing'


with open(path+file_name + '.pkl', 'wb') as f:
    pickle.dump(data, f)

# Credit Risk

In [ ]:
raw_df = pd.read_csv(dataset_path + "credit_risk_data.csv")
raw_df

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6.0,critical/other existing credit,radio/tv,1169.0,no known savings,>=7,4.0,male single,none,...,real estate,67.0,none,own,2.0,skilled,1.0,yes,yes,good
1,0<=X<200,48.0,existing paid,radio/tv,5951.0,<100,1<=X<4,2.0,female div/dep/mar,none,...,real estate,22.0,none,own,1.0,skilled,1.0,none,yes,bad
2,no checking,12.0,critical/other existing credit,education,2096.0,<100,4<=X<7,2.0,male single,none,...,real estate,49.0,none,own,1.0,unskilled resident,2.0,none,yes,good
3,<0,42.0,existing paid,furniture/equipment,7882.0,<100,4<=X<7,2.0,male single,guarantor,...,life insurance,45.0,none,for free,1.0,skilled,2.0,none,yes,good
4,<0,24.0,delayed previously,new car,4870.0,<100,1<=X<4,3.0,male single,none,...,no known property,53.0,none,for free,2.0,skilled,2.0,none,yes,bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,no checking,12.0,existing paid,furniture/equipment,1736.0,<100,4<=X<7,3.0,female div/dep/mar,none,...,real estate,31.0,none,own,1.0,unskilled resident,1.0,none,yes,good
996,<0,30.0,existing paid,used car,3857.0,<100,1<=X<4,4.0,male div/sep,none,...,life insurance,40.0,none,own,1.0,high qualif/self emp/mgmt,1.0,yes,yes,good
997,no checking,12.0,existing paid,radio/tv,804.0,<100,>=7,4.0,male single,none,...,car,38.0,none,own,1.0,skilled,1.0,none,yes,good
998,<0,45.0,existing paid,radio/tv,1845.0,<100,1<=X<4,4.0,male single,none,...,no known property,23.0,none,for free,1.0,skilled,1.0,yes,yes,bad
999,0<=X<200,45.0,critical/other existing credit,used car,4576.0,100<=X<500,unemployed,3.0,male single,none,...,car,27.0,none,own,1.0,skilled,1.0,none,yes,good

In [ ]:
raw_df.info()
columns = raw_df.columns.tolist()
count = raw_df[columns].nunique()

print('\n\nNumber of Unique values for Each Columns : ')
count

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   checking_status         1000 non-null   object
 1   duration                1000 non-null   float64
 2   credit_history          1000 non-null   object
 3   purpose                 1000 non-null   object
 4   credit_amount           1000 non-null   float64
 5   savings_status          1000 non-null   object
 6   employment              1000 non-null   object
 7   installment_commitment  1000 non-null   float64
 8   personal_status         1000 non-null   object
 9   other_parties           1000 non-null   object
 10  residence_since         1000 non-null   float64
 11  property_magnitude      1000 non-null   object
 12  age                     1000 non-null   float64
 13  other_payment_plans     1000 non-null   object
 14  housing                 1000 non-null   object
 15  existing_credits        1000 non-null   float64
 16  job                     1000 non-null   object
 17  num_dependents          1000 non-null   float64
 18  own_telephone           1000 non-null   object
 19  foreign_worker          1000 non-null   object
 20  class                   1000 non-null   object
dtypes: float64(7), object(14)
memory usage: 164.2+ KB


Number of Unique values for Each Columns :

checking_status             4
duration                   33
credit_history              5
purpose                    10
credit_amount             921
savings_status              5
employment                  5
installment_commitment      4
personal_status             4
other_parties               3
residence_since             4
property_magnitude          4
age                        53
other_payment_plans         3
housing                     3
existing_credits            4
job                         4
num_dependents              2
own_telephone               2
foreign_worker              2
class                       2
dtype: int64

In [ ]:
non_numeric_df = raw_df.select_dtypes(exclude=[np.number])
non_numeric_columns = non_numeric_df.columns.tolist()

print('======Before Catagorical======')
for col in non_numeric_columns:
  print('\nUnique Values of "', col, '" column - \n', Counter(raw_df[col]))

#non_numeric_df
#non_numeric_columns

======Before Catagorical======

Unique Values of " checking_status " column -
 Counter({'no checking': 394, '<0': 274, '0<=X<200': 269, '>=200': 63})

Unique Values of " credit_history " column -
 Counter({'existing paid': 530, 'critical/other existing credit': 293, 'delayed previously': 88, 'all paid': 49, 'no credits/all paid': 40})

Unique Values of " purpose " column -
 Counter({'radio/tv': 280, 'new car': 234, 'furniture/equipment': 181, 'used car': 103, 'business': 97, 'education': 50, 'repairs': 22, 'domestic appliance': 12, 'other': 12, 'retraining': 9})

Unique Values of " savings_status " column -
 Counter({'<100': 603, 'no known savings': 183, '100<=X<500': 103, '500<=X<1000': 63, '>=1000': 48})

Unique Values of " employment " column -
 Counter({'1<=X<4': 339, '>=7': 253, '4<=X<7': 174, '<1': 172, 'unemployed': 62})

Unique Values of " personal_status " column -
 Counter({'male single': 548, 'female div/dep/mar': 310, 'male mar/wid': 92, 'male div/sep': 50})

Unique Values of " other_parties " column -
 Counter({'none': 907, 'guarantor': 52, 'co applicant': 41})

Unique Values of " property_magnitude " column -
 Counter({'car': 332, 'real estate': 282, 'life insurance': 232, 'no known property': 154})

Unique Values of " other_payment_plans " column -
 Counter({'none': 814, 'bank': 139, 'stores': 47})

Unique Values of " housing " column -
 Counter({'own': 713, 'rent': 179, 'for free': 108})

Unique Values of " job " column -
 Counter({'skilled': 630, 'unskilled resident': 200, 'high qualif/self emp/mgmt': 148, 'unemp/unskilled non res': 22})

Unique Values of " own_telephone " column -
 Counter({'none': 596, 'yes': 404})

Unique Values of " foreign_worker " column -
 Counter({'yes': 963, 'no': 37})

Unique Values of " class " column -
 Counter({'good': 700, 'bad': 300})

In [ ]:
raw_df = raw_df.dropna()

print('======After Catagorical======')
for col in non_numeric_columns:
  raw_df[col], _ = pd.factorize(raw_df[col])
  print('\nUnique Values of "', col, '" column - \n', Counter(raw_df[col]))

======After Catagorical======

Unique Values of " checking_status " column -
 Counter({2: 394, 0: 274, 1: 269, 3: 63})

Unique Values of " credit_history " column -
 Counter({1: 530, 0: 293, 2: 88, 4: 49, 3: 40})

Unique Values of " purpose " column -
 Counter({0: 280, 3: 234, 2: 181, 4: 103, 5: 97, 1: 50, 7: 22, 6: 12, 8: 12, 9: 9})

Unique Values of " savings_status " column -
 Counter({1: 603, 0: 183, 4: 103, 2: 63, 3: 48})

Unique Values of " employment " column -
 Counter({1: 339, 0: 253, 2: 174, 4: 172, 3: 62})

Unique Values of " personal_status " column -
 Counter({0: 548, 1: 310, 3: 92, 2: 50})

Unique Values of " other_parties " column -
 Counter({0: 907, 1: 52, 2: 41})

Unique Values of " property_magnitude " column -
 Counter({3: 332, 0: 282, 1: 232, 2: 154})

Unique Values of " other_payment_plans " column -
 Counter({0: 814, 1: 139, 2: 47})

Unique Values of " housing " column -
 Counter({0: 713, 2: 179, 1: 108})

Unique Values of " job " column -
 Counter({0: 630, 1: 200, 2: 148, 3: 22})

Unique Values of " own_telephone " column -
 Counter({1: 596, 0: 404})

Unique Values of " foreign_worker " column -
 Counter({0: 963, 1: 37})

Unique Values of " class " column -
 Counter({0: 700, 1: 300})

In [ ]:
raw_df.info()
columns = raw_df.columns.tolist()
count = raw_df[columns].nunique()

print('\n\nNumber of Unique values for Each Columns : ')
count

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   checking_status         1000 non-null   int64
 1   duration                1000 non-null   float64
 2   credit_history          1000 non-null   int64
 3   purpose                 1000 non-null   int64
 4   credit_amount           1000 non-null   float64
 5   savings_status          1000 non-null   int64
 6   employment              1000 non-null   int64
 7   installment_commitment  1000 non-null   float64
 8   personal_status         1000 non-null   int64
 9   other_parties           1000 non-null   int64
 10  residence_since         1000 non-null   float64
 11  property_magnitude      1000 non-null   int64
 12  age                     1000 non-null   float64
 13  other_payment_plans     1000 non-null   int64
 14  housing                 1000 non-null   int64
 15  existing_credits        1000 non-null   float64
 16  job                     1000 non-null   int64
 17  num_dependents          1000 non-null   float64
 18  own_telephone           1000 non-null   int64
 19  foreign_worker          1000 non-null   int64
 20  class                   1000 non-null   int64
dtypes: float64(7), int64(14)
memory usage: 164.2 KB


Number of Unique values for Each Columns :

checking_status             4
duration                   33
credit_history              5
purpose                    10
credit_amount             921
savings_status              5
employment                  5
installment_commitment      4
personal_status             4
other_parties               3
residence_since             4
property_magnitude          4
age                        53
other_payment_plans         3
housing                     3
existing_credits            4
job                         4
num_dependents              2
own_telephone               2
foreign_worker              2
class                       2
dtype: int64

In [ ]:
header = columns
label_names = 'class'

X = raw_df.drop(label_names, axis=1)
X.info()
Y = raw_df[label_names]
Y

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   checking_status         1000 non-null   int64
 1   duration                1000 non-null   float64
 2   credit_history          1000 non-null   int64
 3   purpose                 1000 non-null   int64
 4   credit_amount           1000 non-null   float64
 5   savings_status          1000 non-null   int64
 6   employment              1000 non-null   int64
 7   installment_commitment  1000 non-null   float64
 8   personal_status         1000 non-null   int64
 9   other_parties           1000 non-null   int64
 10  residence_since         1000 non-null   float64
 11  property_magnitude      1000 non-null   int64
 12  age                     1000 non-null   float64
 13  other_payment_plans     1000 non-null   int64
 14  housing                 1000 non-null   int64
 15  existing_credits        1000 non-null   float64
 16  job                     1000 non-null   int64
 17  num_dependents          1000 non-null   float64
 18  own_telephone           1000 non-null   int64
 19  foreign_worker          1000 non-null   int64
dtypes: float64(7), int64(13)
memory usage: 156.4 KB

0      0
1      1
2      0
3      0
4      1
      ..
995    0
996    0
997    0
998    1
999    0
Name: class, Length: 1000, dtype: int64

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.1, random_state=42, stratify=Y)
X_train, X_validation, Y_train, Y_validation = train_test_split(X_train, Y_train, test_size=0.2, random_state=42, stratify=Y_train)

# Balancing Training Data
oversample = SMOTE()
X_train, Y_train = oversample.fit_resample(X_train, Y_train)


print('Train: \n', Counter(Y_train))
print('Validation : \n', Counter(Y_validation))
print('Test : \n', Counter(Y_test))

scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train)
X_validation = scaler.transform (X_validation)
X_test = scaler.transform (X_test)

print('\n')
print('Train : ', X_train.shape)
print('Validation : ', X_validation.shape)
print('Test : ', X_test.shape)

X_train = list(X_train)
X_validation = list(X_validation)
X_test = list(X_test)

Y_train = list(Y_train)
Y_validation = list(Y_validation)
Y_test = list(Y_test)

columns.remove(label_names)
columns.append(label_names)
print('\n\n All the Columns : ', columns)

Train:
 Counter({0: 504, 1: 504})
Validation :
 Counter({0: 126, 1: 54})
Test :
 Counter({0: 70, 1: 30})


Train :  (1008, 20)
Validation :  (180, 20)
Test :  (100, 20)


 All the Columns :  ['checking_status', 'duration', 'credit_history', 'purpose', 'credit_amount', 'savings_status', 'employment', 'installment_commitment', 'personal_status', 'other_parties', 'residence_since', 'property_magnitude', 'age', 'other_payment_plans', 'housing', 'existing_credits', 'job', 'num_dependents', 'own_telephone', 'foreign_worker', 'class']

In [ ]:
data = {
    'X_train': X_train,
    'X_validation': X_validation,
    'X_test' : X_test,
    'Y_train' : Y_train,
    'Y_validation' : Y_validation,
    'Y_test' : Y_test,
    'header' : header,
    'label_names' : label_names
      }

path = '/content/drive/MyDrive/Colab Notebooks/Decision Tree/Datasets/Datasets/Pickle Formats/'
file_name = 'CreditRisk'


with open(path+file_name + '.pkl', 'wb') as f:
    pickle.dump(data, f)

# Car Accept Dataset

In [ ]:
raw_df = pd.read_csv(dataset_path + "car_accept_data.csv")
raw_df

,Buying_Price,Maintenance_Price,No_of_Doors,Person_Capacity,Size_of_Luggage,Safety,Car_Acceptability
0,vhigh,vhigh,2,2,small,low,unacc
1,vhigh,vhigh,2,2,small,med,unacc
2,vhigh,vhigh,2,2,small,high,unacc
3,vhigh,vhigh,2,2,med,low,unacc
4,vhigh,vhigh,2,2,med,med,unacc
...,...,...,...,...,...,...,...
1723,low,low,5more,more,med,med,good
1724,low,low,5more,more,med,high,vgood
1725,low,low,5more,more,big,low,unacc
1726,low,low,5more,more,big,med,good
1727,low,low,5more,more,big,high,vgood

In [ ]:
raw_df.info()
columns = raw_df.columns.tolist()
count = raw_df[columns].nunique()

print('\n\nNumber of Unique values for Each Columns : ')
count

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Buying_Price       1728 non-null   object
 1   Maintenance_Price  1728 non-null   object
 2   No_of_Doors        1728 non-null   object
 3   Person_Capacity    1728 non-null   object
 4   Size_of_Luggage    1728 non-null   object
 5   Safety             1728 non-null   object
 6   Car_Acceptability  1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB


Number of Unique values for Each Columns :

Buying_Price         4
Maintenance_Price    4
No_of_Doors          4
Person_Capacity      3
Size_of_Luggage      3
Safety               3
Car_Acceptability    4
dtype: int64

In [ ]:
non_numeric_df = raw_df.select_dtypes(exclude=[np.number])
non_numeric_columns = non_numeric_df.columns.tolist()

print('======Before Catagorical======')
for col in non_numeric_columns:
  print('\nUnique Values of "', col, '" column - \n', Counter(raw_df[col]))

#non_numeric_df
#non_numeric_columns

======Before Catagorical======

Unique Values of " Buying_Price " column -
 Counter({'vhigh': 432, 'high': 432, 'med': 432, 'low': 432})

Unique Values of " Maintenance_Price " column -
 Counter({'vhigh': 432, 'high': 432, 'med': 432, 'low': 432})

Unique Values of " No_of_Doors " column -
 Counter({'2': 432, '3': 432, '4': 432, '5more': 432})

Unique Values of " Person_Capacity " column -
 Counter({'2': 576, '4': 576, 'more': 576})

Unique Values of " Size_of_Luggage " column -
 Counter({'small': 576, 'med': 576, 'big': 576})

Unique Values of " Safety " column -
 Counter({'low': 576, 'med': 576, 'high': 576})

Unique Values of " Car_Acceptability " column -
 Counter({'unacc': 1210, 'acc': 384, 'good': 69, 'vgood': 65})

In [ ]:
raw_df = raw_df.dropna()

print('======After Catagorical======')
for col in non_numeric_columns:
  raw_df[col], _ = pd.factorize(raw_df[col])
  print('\nUnique Values of "', col, '" column - \n', Counter(raw_df[col]))

======After Catagorical======

Unique Values of " Buying_Price " column -
 Counter({0: 432, 1: 432, 2: 432, 3: 432})

Unique Values of " Maintenance_Price " column -
 Counter({0: 432, 1: 432, 2: 432, 3: 432})

Unique Values of " No_of_Doors " column -
 Counter({0: 432, 1: 432, 2: 432, 3: 432})

Unique Values of " Person_Capacity " column -
 Counter({0: 576, 1: 576, 2: 576})

Unique Values of " Size_of_Luggage " column -
 Counter({0: 576, 1: 576, 2: 576})

Unique Values of " Safety " column -
 Counter({0: 576, 1: 576, 2: 576})

Unique Values of " Car_Acceptability " column -
 Counter({0: 1210, 1: 384, 3: 69, 2: 65})

In [ ]:
raw_df.info()
columns = raw_df.columns.tolist()
count = raw_df[columns].nunique()

print('\n\nNumber of Unique values for Each Columns : ')
count

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Buying_Price       1728 non-null   int64
 1   Maintenance_Price  1728 non-null   int64
 2   No_of_Doors        1728 non-null   int64
 3   Person_Capacity    1728 non-null   int64
 4   Size_of_Luggage    1728 non-null   int64
 5   Safety             1728 non-null   int64
 6   Car_Acceptability  1728 non-null   int64
dtypes: int64(7)
memory usage: 94.6 KB


Number of Unique values for Each Columns :

Buying_Price         4
Maintenance_Price    4
No_of_Doors          4
Person_Capacity      3
Size_of_Luggage      3
Safety               3
Car_Acceptability    4
dtype: int64

In [ ]:
header = columns
label_names = 'Car_Acceptability'

X = raw_df.drop(label_names, axis=1)
X.info()
Y = raw_df[label_names]
Y

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Buying_Price       1728 non-null   int64
 1   Maintenance_Price  1728 non-null   int64
 2   No_of_Doors        1728 non-null   int64
 3   Person_Capacity    1728 non-null   int64
 4   Size_of_Luggage    1728 non-null   int64
 5   Safety             1728 non-null   int64
dtypes: int64(6)
memory usage: 81.1 KB

0       0
1       0
2       0
3       0
4       0
       ..
1723    3
1724    2
1725    0
1726    3
1727    2
Name: Car_Acceptability, Length: 1728, dtype: int64

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.1, random_state=42, stratify=Y)
X_train, X_validation, Y_train, Y_validation = train_test_split(X_train, Y_train, test_size=0.2, random_state=42, stratify=Y_train)

# Balancing Training Data
oversample = SMOTE()
X_train, Y_train = oversample.fit_resample(X_train, Y_train)


print('Train: \n', Counter(Y_train))
print('Validation : \n', Counter(Y_validation))
print('Test : \n', Counter(Y_test))

scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train)
X_validation = scaler.transform (X_validation)
X_test = scaler.transform (X_test)

print('\n')
print('Train : ', X_train.shape)
print('Validation : ', X_validation.shape)
print('Test : ', X_test.shape)

X_train = list(X_train)
X_validation = list(X_validation)
X_test = list(X_test)

Y_train = list(Y_train)
Y_validation = list(Y_validation)
Y_test = list(Y_test)

columns.remove(label_names)
columns.append(label_names)
print('\n\n All the Columns : ', columns)

Train:
 Counter({0: 871, 1: 871, 3: 871, 2: 871})
Validation :
 Counter({0: 218, 1: 69, 2: 12, 3: 12})
Test :
 Counter({0: 121, 1: 38, 3: 7, 2: 7})


Train :  (3484, 6)
Validation :  (311, 6)
Test :  (173, 6)


 All the Columns :  ['Buying_Price', 'Maintenance_Price', 'No_of_Doors', 'Person_Capacity', 'Size_of_Luggage', 'Safety', 'Car_Acceptability']

In [ ]:
data = {
    'X_train': X_train,
    'X_validation': X_validation,
    'X_test' : X_test,
    'Y_train' : Y_train,
    'Y_validation' : Y_validation,
    'Y_test' : Y_test,
    'header' : header,
    'label_names' : label_names
      }

path = '/content/drive/MyDrive/Colab Notebooks/Decision Tree/Datasets/Datasets/Pickle Formats/'
file_name = 'CarAccept'


with open(path+file_name + '.pkl', 'wb') as f:
    pickle.dump(data, f)

# Synthetic Dataset

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.datasets import make_classification
from collections import Counter
import pandas as pd
import numpy as np

intensity = ['low', 'moderate', 'high']
types = ['Dim', 'Noise', 'Outlier']
create_dataset = [1, 0, 0]               # create dataset for dimensionality/noise/outlier

dimensionality = [3, 5, 7]
noises = [0.01, 0.1, 0.3]
outliers = [0, 5, 10]

rows = 100

dataset_list = []
# Create a DataFrame
for dim in dimensionality:
  for noise in noises:
    for outlier in outliers:
      X, y = make_classification(
          n_samples = rows + 50,          # Slightly more to ensure balance after random sampling
          n_features = dim,
          n_informative = dim,
          n_redundant = 0,
          n_clusters_per_class = 1,
          flip_y = noise,                 # Low noise
          class_sep = 1.5,
          weights = [0.5, 0.5],           # Trying to maintain balance
          random_state = 42
      )

      # Creating DataFrame
      df_synthetic = pd.DataFrame(X, columns=[f'Feature_{i+1}' for i in range(dim)])
      df_synthetic['Target'] = y

      # Manually balancing to ensure 50 samples of each class
      df_class_0 = df_synthetic[df_synthetic['Target'] == 0].sample(int(rows/2), random_state=42)
      df_class_1 = df_synthetic[df_synthetic['Target'] == 1].sample(int(rows/2), random_state=42)

      # Combining and shuffling to create a perfectly balanced dataset
      df_final_balanced = pd.concat([df_class_0, df_class_1]).sample(frac=1, random_state=42).reset_index(drop=True)

      # Checking the class balance
      final_class_counts = df_final_balanced['Target'].value_counts()
      final_class_counts, df_final_balanced.head()

      #=================================================================================================================================
      # Add outliers
      num_outliers = outlier
      # Select random indices to turn into outliers
      outlier_indices = np.random.choice(df_final_balanced.index, size=num_outliers, replace=False)

      # Add extreme values to these selected rows to create outliers
      df_final_balanced.loc[outlier_indices, df_final_balanced.columns[:-1]] += np.random.uniform(low=-10, high=10, size=(num_outliers, df_final_balanced.shape[1] - 1))

      # Step 3: Shuffle the dataset to randomize the rows
      df_final = df_final_balanced.sample(frac=1, random_state=42).reset_index(drop=True)

      #=================================================================================================================================
      df = df_final.copy()
      df.info()
      columns = df.columns.tolist()
      count = df[columns].nunique()
      print('\n\nNumber of Unique values for Each Columns : \n', count)

      #=================================================================================================================================
      header = columns
      label_names = 'Target'
      X = df.drop(label_names, axis=1)
      X.info()
      Y = df[label_names]
      print(Counter(Y))

      #=================================================================================================================================
      X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.1, random_state=42, stratify=Y)
      X_train, X_validation, Y_train, Y_validation = train_test_split(X_train, Y_train, test_size=0.2, random_state=42, stratify=Y_train)


      print('Train: \n', Counter(Y_train))
      print('Validation: \n', Counter(Y_validation))
      print('Test: \n', Counter(Y_test))

      scaler = MinMaxScaler()
      X_train = scaler.fit_transform(X_train)
      X_validation = scaler.transform (X_validation)
      X_test = scaler.transform (X_test)

      print('\n')
      print('Train: ', X_train.shape)
      print('Validation: ', X_validation.shape)
      print('Test: ', X_test.shape)

      X_train = list(X_train)
      X_validation = list(X_validation)
      X_test = list(X_test)

      Y_train = list(Y_train)
      Y_validation = list(Y_validation)
      Y_test = list(Y_test)

      #columns.remove(label_names)
      #columns.append(label_names)
      print('\n\n All the Columns : ', columns)

      #=================================================================================================================================
      data = {
          'X_train': X_train,
          'X_validation': X_validation,
          'X_test' : X_test,
          'Y_train' : Y_train,
          'Y_validation' : Y_validation,
          'Y_test' : Y_test,
          'header' : header,
          'label_names' : label_names
            }

      dataset_list.append(data)
      path = '/content/drive/MyDrive/Colab/Decision Tree/Datasets/Datasets/Pickle Formats/'
      type_index = [index for index, value in enumerate(create_dataset) if value == 1][0]
      if type_index == 0:
        get_intensity = intensity[dimensionality.index(dim)]
      elif type_index == 1:
        get_intensity = intensity[noises.index(noise)]
      elif type_index == 2:
        get_intensity = intensity[outliers.index(outlier)]


      file_name = f'{types[type_index]}_{get_intensity}'
      print(file_name)
      print('\n\n============================\n\n\n')
      with open(path + file_name + '.pkl', 'wb') as f:
          pickle.dump(data, f)

      if create_dataset[2] == 0:
        break

    if create_dataset[1] == 0:
        break

  if create_dataset[0] == 0:
    break

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Feature_1  100 non-null    float64
 1   Feature_2  100 non-null    float64
 2   Feature_3  100 non-null    float64
 3   Target     100 non-null    int64
dtypes: float64(3), int64(1)
memory usage: 3.2 KB


Number of Unique values for Each Columns :
 Feature_1    100
Feature_2    100
Feature_3    100
Target         2
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Feature_1  100 non-null    float64
 1   Feature_2  100 non-null    float64
 2   Feature_3  100 non-null    float64
dtypes: float64(3)
memory usage: 2.5 KB
Counter({0: 50, 1: 50})
Train:
 Counter({1: 36, 0: 36})
Validation:
 Counter({1: 9, 0: 9})
Test:
 Counter({1: 5, 0: 5})


Train:  (72, 3)
Validation:  (18, 3)
Test:  (10, 3)


 All the Columns :  ['Feature_1', 'Feature_2', 'Feature_3', 'Target']
Dim_low


============================



<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Feature_1  100 non-null    float64
 1   Feature_2  100 non-null    float64
 2   Feature_3  100 non-null    float64
 3   Feature_4  100 non-null    float64
 4   Feature_5  100 non-null    float64
 5   Target     100 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 4.8 KB


Number of Unique values for Each Columns :
 Feature_1    100
Feature_2    100
Feature_3    100
Feature_4    100
Feature_5    100
Target         2
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Feature_1  100 non-null    float64
 1   Feature_2  100 non-null    float64
 2   Feature_3  100 non-null    float64
 3   Feature_4  100 non-null    float64
 4   Feature_5  100 non-null    float64
dtypes: float64(5)
memory usage: 4.0 KB
Counter({0: 50, 1: 50})
Train:
 Counter({1: 36, 0: 36})
Validation:
 Counter({1: 9, 0: 9})
Test:
 Counter({1: 5, 0: 5})


Train:  (72, 5)
Validation:  (18, 5)
Test:  (10, 5)


 All the Columns :  ['Feature_1', 'Feature_2', 'Feature_3', 'Feature_4', 'Feature_5', 'Target']
Dim_moderate


============================



<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Feature_1  100 non-null    float64
 1   Feature_2  100 non-null    float64
 2   Feature_3  100 non-null    float64
 3   Feature_4  100 non-null    float64
 4   Feature_5  100 non-null    float64
 5   Feature_6  100 non-null    float64
 6   Feature_7  100 non-null    float64
 7   Target     100 non-null    int64
dtypes: float64(7), int64(1)
memory usage: 6.4 KB


Number of Unique values for Each Columns :
 Feature_1    100
Feature_2    100
Feature_3    100
Feature_4    100
Feature_5    100
Feature_6    100
Feature_7    100
Target         2
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Feature_1  100 non-null    float64
 1   Feature_2  100 non-null    float64
 2   Feature_3  100 non-null    float64
 3   Feature_4  100 non-null    float64
 4   Feature_5  100 non-null    float64
 5   Feature_6  100 non-null    float64
 6   Feature_7  100 non-null    float64
dtypes: float64(7)
memory usage: 5.6 KB
Counter({0: 50, 1: 50})
Train:
 Counter({1: 36, 0: 36})
Validation:
 Counter({1: 9, 0: 9})
Test:
 Counter({1: 5, 0: 5})


Train:  (72, 7)
Validation:  (18, 7)
Test:  (10, 7)


 All the Columns :  ['Feature_1', 'Feature_2', 'Feature_3', 'Feature_4', 'Feature_5', 'Feature_6', 'Feature_7', 'Target']
Dim_high


============================